$gutter: 30px;

$container-gutter-mobile: $gutter;
$container-gutter-tablet: 50px;
$container-gutter-desktop: 70px;

// grid
$grid-column-count: 12;
$grid-baseline: 16px;

// page dimensions
$page-width: 600px;
$page-limit: 1400px;
$limit: $page-width + ($container-gutter-desktop * 2);

// Fonts
$font-family: 'Roboto', sans-serif;
$font-heading: 'Open Sans', sans-serif;
$font-size-min: 14px;
$font-size: 16px;
$font-color: #333;
$line-height: 1.5;

// Colors
$color-font: #333;
$color-background: #eee;
$color-placeholder: #ddd;

$color-white: #fff;
$color-darkblue: #0072f0;
$color-lightblue: #7ebaff;

$color-gradient-green: #00f7c4;

$colors: (
  'transparent': transparent,
  'white': $color-white,
  'darkblue': $color-darkblue,
  'lightblue': $color-lightblue,
);

// Timings
$transition-enter: 200ms;
$transition-leave: 500ms;

// Custom break point (Min)
$min-1800: 1800px;
$min-1660: 1660px;
$min-1440: 1440px;
$min-1280: 1280px;
$min-1200: 1200px;
$min-1080: 1080px;
$min-1024: 1024px;
$min-960: 960px;
$min-840: 840px;
$min-768: 768px;
$min-720: 720px;
$min-640: 640px;
$min-600: 600px;
$min-560: 560px;
$min-540: 540px;
$min-480: 480px;
$min-420: 420px;
$min-375: 375px;
$min-360: 360px;

// Custom break points (Max)
$max-1660: 1659px;
$max-1440: 1439px;
$max-1280: 1279px;
$max-1200: 1199px;
$max-1080: 1079px;
$max-1024: 1023px;
$max-960: 959px;
$max-840: 839px;
$max-768: 767px;
$max-720: 719px;
$max-640: 639px;
$max-600: 599px;
$max-540: 539px;
$max-480: 479px;
$max-420: 419px;
$max-375: 374px;
$max-360: 359px;

// Predefined breakpoints
$min-mobile: $min-480;
$min-tablet: $min-720;
$min-desktop: $min-1080;

$max-mobile: $max-420;
$max-tablet: $max-720;
$max-desktop: $max-1080;

// Forms
$forms-height: 60px;
$forms-height-mobile: 40px;

// Product feature row height
$featureHeight: 380px;

// Custom breakpoint for checkout layout
$min-checkout: $min-1024;

// Segment
$segment-padding-mobile: $gutter * 3;
$segment-padding: 200px; //percentage-based segments spacing

// Sticky bar
$sticky-height: 110px;
$sticky-height-mobile: 60px;

// Product filter bar
$filter-height: 110px;

// Custom breakpoint for checkout layout
$min-checkout: $min-1024;
