@import '~styles/config';

.contentNav {
  @include container;

  margin-top: $gutter;

  &__row {
    @include grid-row;
  }

  &__item {
    @include grid-col(6/12);

    justify-content: center;
    align-items: center;

    margin: $gutter/2;
    padding: 0 $gutter/2;
    height: 60px;
    width: calc(50% - #{$gutter});

    border-radius: 60px;

    background-color: $color-white;
    transition:
      background-color 300ms ease-in-out,
      color 300ms ease-in-out;

    box-shadow: 0 20px 70px 0 rgba(32, 32, 32, 0.15);

    &:hover {
      background-color: $color-darkblue;
      color: $color-white;
    }

    a { // stylelint-disable-line
      @include reset-anchor;
    }
  }

  &__item:hover &__svg {
    fill: $color-white;
  }

  &__bg {
    display: flex;
    align-items: center;
  }

  &__label {
    display: block;
    @include responsive-font(18, 28);
    order: 2;
    margin-left: $gutter/2;
    line-height: 60px;
  }

  &__icon {
    display: flex;
    order: 1;
  }

  &__svg {
    height: 30px;
    max-width: 100%;
    transition: fill 300ms ease-in-out;
  }
}
